.About {
  width: 100%;
  height: 100%;
}

.about-container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 5%; */
}

.about-pivot-container {
  margin-top: 5%;
  width: 70vw;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
}

.team-container {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 70vw;
}

.about-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 35px;
  width: 100%;
  color: black;
}

.horizontal-line {
  margin: -2px 0px 0px 0px;
  border: 1px solid black;
  width: 100%;
}

.about-pivot-content {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-top: 2%;
}

.about-buttons {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.repo-button {
  width: 230px;
  height: 70px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 7px;
  transition: 0.3s;
  margin: 5px;
  text-decoration: none;
}

.repo-button:hover {
  background-color: #3f3f3f;
  color: white;
  width: 230px;
  height: 70px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 7px;
  text-decoration: none;
}

.team-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.member-card {
  margin: 40px 10px 0px 10px !important;
}

.about-card-content {
  display: flex;
  justify-content: space-between;
}

.about-card-content::after {
  content: none !important;
}
