.Code {
  width: 100%;
  height: 100%;
}

.code-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.code-header {
  margin-top: 5%;
  width: 70%;
}

.code-main-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 35px;
  width: 100%;
  color: black;
}

.code-box {
  width: 100% !important;
  box-shadow: none !important;
}

.code-content {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.snippet-title {
  font-family: "Montserrat", sans-serif !important;
  font-size: 25px !important;
  padding-bottom: 10px;
}

.snippet-code pre {
  font-family: "Source Code Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-top: -10px;
  margin-bottom: 0px;
}

.code-list {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1%;
}

.snippet-container {
  width: 50%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
