@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap");

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: black;
}
