.About {
  width: 100%;
  height: 100%;
}

.about-container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-pivot-container {
  margin-top: 5%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-container {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 70%;
}

.about-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 35px;
  width: 100%;
  color: black;
}

.horizontal-line {
  margin-top: -2px;
  border: 1px solid black;
  width: 100%;
}

.about-pivot-content {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.about-buttons {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.repo-button {
  width: 230px;
  height: 70px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 7px;
  transition: 0.3s;
  margin: 5px;
  text-decoration: none;
}

.repo-button:hover {
  background-color: #3f3f3f;
  color: white;
  width: 230px;
  height: 70px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 7px;
  text-decoration: none;
}

.team-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 3%;
}

.member-profile {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
}

.list-title {
  margin-top: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 17px;
}

.list-content {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.member-img {
  width: 70%;
  height: 80%;
  object-fit: cover;
  object-position: 40% 50%;
  border-radius: 5%;
}
