.Code {
  width: 100%;
  height: 100%;
}

.projects-container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-header {
  margin-top: 5%;
  width: 70%;
}

.projects-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 35px;
}

.projects-list {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-individual-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-individual-container pre {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-top: -10px;
  /* text-align: left; */
}

.project-individual-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 25px;
  /* font-size: 20px; */
  margin: 0;
  color: black;
}

.project-individual-date {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin: -3% 0% 0% 0%;
}

.horizontal-line-projects {
  /* margin-top: 5%; */
  width: 70%;
  border: 0.5px solid black;
  margin: 0;
}
